doctype html
html(lang="en")
	head
		title R E B A N K E D
		link(rel="icon", type="image/png", href="favicon.png")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Muli|Inconsolata|Orbitron")
		link(rel="stylesheet", type="text/css", href="bower_components/normalize-css/normalize.css")
		link(rel="stylesheet", type="text/stylus", href="index.styl")
		
		script(type='text/javascript').
			console.log("Welcome back to the world.");
			
body
	header
		nav
			h1 REBANKED
	section
		article
			h2 Welcome back.
		article
			p
				span.brand-name REBANKED 
				span is a service that helps you create your own digital fingerprint. Our easy step-by-step process lets you validate and combine your social accounts to create your own RE:ID: a unique, secure identifier that institutions can trust.
		form
			input(type="email", placeholder="jon.snow@gmail.com")
			input(type="submit", disabled=true, value="BEGIN")